@model Game
@{
	ViewData["Title"] = Model.Name; 
}

<div class="card border-success rounded-4 overflow-hidden mt-4">
	<div class="card-body p-0">
		<div class="row">
			<div class="col-md-8 px-5 py-4 d-flex flex-column justify-content-between">
				<div>
					<h1 class="text-success">@Model.Name</h1>
					<span class="badge bg-info bg-5 mb-4">@Model.category?.Name</span>
					<p class="fs-5">@Model.Decsription</p>
				</div>
				<div>
					@foreach(var device in Model.Devices)
					{
						<i class="@device.Device.Icon me-2 fs-1 text-warning"></i>
					}
				</div>
			</div>
			<div class="col-md-4">
				<img src="@($"{FileSetting.ImagesPath}/{Model.Cover}")" alt="@Model.Name" class="w-100" style="max-height:600px" />
			</div>
	</div>
</div>